In [1]:
import pandas as pd

df1= pd.read_csv("E-GEOD-101794-experiment-design.tsv", sep="\t")
df2= pd.read_csv("E-GEOD-101794-raw-counts.tsv", sep="\t")

In [7]:
df1

,Run,Sample Characteristic[age at diagnosis],Sample Characteristic Ontology Term[age at diagnosis],Sample Characteristic[clinical information],Sample Characteristic Ontology Term[clinical information],Sample Characteristic[disease],Sample Characteristic Ontology Term[disease],Sample Characteristic[organism],Sample Characteristic Ontology Term[organism],Sample Characteristic[organism part],Sample Characteristic Ontology Term[organism part],Sample Characteristic[sex],Sample Characteristic Ontology Term[sex],Factor Value[clinical information],Factor Value Ontology Term[clinical information],Factor Value[disease],Factor Value Ontology Term[disease],Analysed
0,SRR5861974,6.6 year,NaN,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,male,http://purl.obolibrary.org/obo/PATO_0000384,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Yes
1,SRR5861975,6.8 year,NaN,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,female,http://purl.obolibrary.org/obo/PATO_0000383,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Yes
2,SRR5861976,7.3 year,NaN,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,female,http://purl.obolibrary.org/obo/PATO_0000383,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Yes
3,SRR5861977,7.8 year,NaN,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,female,http://purl.obolibrary.org/obo/PATO_0000383,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Yes
4,SRR5861978,8 year,NaN,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,female,http://purl.obolibrary.org/obo/PATO_0000383,A1a Paris classification,NaN,Crohn's disease,http://www.ebi.ac.uk/efo/EFO_0000384,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,SRR5862273,15.8 year,NaN,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,male,http://purl.obolibrary.org/obo/PATO_0000384,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Yes
300,SRR5862274,15.8 year,NaN,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,male,http://purl.obolibrary.org/obo/PATO_0000384,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Yes
301,SRR5862275,15.8 year,NaN,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,male,http://purl.obolibrary.org/obo/PATO_0000384,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Yes
302,SRR5862276,16.2 year,NaN,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,female,http://purl.obolibrary.org/obo/PATO_0000383,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Yes
303,SRR5862277,16.9 year,NaN,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Homo sapiens,http://purl.obolibrary.org/obo/NCBITaxon_9606,ileum,http://purl.obolibrary.org/obo/UBERON_0002116,female,http://purl.obolibrary.org/obo/PATO_0000383,A1b Paris classification,NaN,non inflammatory bowel disease control,NaN,Yes

In [8]:
df1.columns

Index(['Run', 'Sample Characteristic[age at diagnosis]',
       'Sample Characteristic Ontology Term[age at diagnosis]',
       'Sample Characteristic[clinical information]',
       'Sample Characteristic Ontology Term[clinical information]',
       'Sample Characteristic[disease]',
       'Sample Characteristic Ontology Term[disease]',
       'Sample Characteristic[organism]',
       'Sample Characteristic Ontology Term[organism]',
       'Sample Characteristic[organism part]',
       'Sample Characteristic Ontology Term[organism part]',
       'Sample Characteristic[sex]',
       'Sample Characteristic Ontology Term[sex]',
       'Factor Value[clinical information]',
       'Factor Value Ontology Term[clinical information]',
       'Factor Value[disease]', 'Factor Value Ontology Term[disease]',
       'Analysed'],
      dtype='object')

In [10]:
for col in df1.columns:
    print(f"\n=== {col} ===")
    print(df1[col].unique())

=== Run ===
['SRR5861974' 'SRR5861975' 'SRR5861976' 'SRR5861977' 'SRR5861978'
 'SRR5861979' 'SRR5861980' 'SRR5861981' 'SRR5861982' 'SRR5861983'
 'SRR5861984' 'SRR5861985' 'SRR5861986' 'SRR5861987' 'SRR5861988'
 'SRR5861989' 'SRR5861990' 'SRR5861991' 'SRR5861992' 'SRR5861993'
 'SRR5861994' 'SRR5861995' 'SRR5861996' 'SRR5861997' 'SRR5861998'
 'SRR5861999' 'SRR5862000' 'SRR5862001' 'SRR5862002' 'SRR5862003'
 'SRR5862004' 'SRR5862005' 'SRR5862006' 'SRR5862007' 'SRR5862008'
 'SRR5862009' 'SRR5862010' 'SRR5862011' 'SRR5862012' 'SRR5862013'
 'SRR5862014' 'SRR5862015' 'SRR5862016' 'SRR5862017' 'SRR5862018'
 'SRR5862019' 'SRR5862020' 'SRR5862021' 'SRR5862022' 'SRR5862023'
 'SRR5862024' 'SRR5862025' 'SRR5862026' 'SRR5862027' 'SRR5862028'
 'SRR5862029' 'SRR5862030' 'SRR5862031' 'SRR5862032' 'SRR5862033'
 'SRR5862034' 'SRR5862035' 'SRR5862036' 'SRR5862037' 'SRR5862038'
 'SRR5862039' 'SRR5862040' 'SRR5862041' 'SRR5862042' 'SRR5862043'
 'SRR5862044' 'SRR5862045' 'SRR5862046' 'SRR5862047' 'SRR5862048'
 'SRR5862049' 'SRR5862050' 'SRR5862051' 'SRR5862052' 'SRR5862053'
 'SRR5862054' 'SRR5862055' 'SRR5862056' 'SRR5862057' 'SRR5862058'
 'SRR5862059' 'SRR5862060' 'SRR5862061' 'SRR5862062' 'SRR5862063'
 'SRR5862064' 'SRR5862065' 'SRR5862066' 'SRR5862067' 'SRR5862068'
 'SRR5862069' 'SRR5862070' 'SRR5862071' 'SRR5862072' 'SRR5862073'
 'SRR5862074' 'SRR5862075' 'SRR5862076' 'SRR5862077' 'SRR5862078'
 'SRR5862079' 'SRR5862080' 'SRR5862081' 'SRR5862082' 'SRR5862083'
 'SRR5862084' 'SRR5862085' 'SRR5862086' 'SRR5862087' 'SRR5862088'
 'SRR5862089' 'SRR5862090' 'SRR5862091' 'SRR5862092' 'SRR5862093'
 'SRR5862094' 'SRR5862095' 'SRR5862096' 'SRR5862097' 'SRR5862098'
 'SRR5862099' 'SRR5862100' 'SRR5862101' 'SRR5862102' 'SRR5862103'
 'SRR5862104' 'SRR5862105' 'SRR5862106' 'SRR5862107' 'SRR5862108'
 'SRR5862109' 'SRR5862110' 'SRR5862111' 'SRR5862112' 'SRR5862113'
 'SRR5862114' 'SRR5862115' 'SRR5862116' 'SRR5862117' 'SRR5862118'
 'SRR5862119' 'SRR5862120' 'SRR5862121' 'SRR5862122' 'SRR5862123'
 'SRR5862124' 'SRR5862125' 'SRR5862126' 'SRR5862127' 'SRR5862128'
 'SRR5862129' 'SRR5862130' 'SRR5862131' 'SRR5862132' 'SRR5862133'
 'SRR5862134' 'SRR5862135' 'SRR5862136' 'SRR5862137' 'SRR5862138'
 'SRR5862139' 'SRR5862140' 'SRR5862141' 'SRR5862142' 'SRR5862143'
 'SRR5862144' 'SRR5862145' 'SRR5862146' 'SRR5862147' 'SRR5862148'
 'SRR5862149' 'SRR5862150' 'SRR5862151' 'SRR5862152' 'SRR5862153'
 'SRR5862154' 'SRR5862155' 'SRR5862156' 'SRR5862157' 'SRR5862158'
 'SRR5862159' 'SRR5862160' 'SRR5862161' 'SRR5862162' 'SRR5862163'
 'SRR5862164' 'SRR5862165' 'SRR5862166' 'SRR5862167' 'SRR5862168'
 'SRR5862169' 'SRR5862170' 'SRR5862171' 'SRR5862172' 'SRR5862173'
 'SRR5862174' 'SRR5862175' 'SRR5862176' 'SRR5862177' 'SRR5862178'
 'SRR5862179' 'SRR5862180' 'SRR5862181' 'SRR5862182' 'SRR5862183'
 'SRR5862184' 'SRR5862185' 'SRR5862186' 'SRR5862187' 'SRR5862188'
 'SRR5862189' 'SRR5862190' 'SRR5862191' 'SRR5862192' 'SRR5862193'
 'SRR5862194' 'SRR5862195' 'SRR5862196' 'SRR5862197' 'SRR5862198'
 'SRR5862199' 'SRR5862200' 'SRR5862201' 'SRR5862202' 'SRR5862203'
 'SRR5862204' 'SRR5862205' 'SRR5862206' 'SRR5862207' 'SRR5862208'
 'SRR5862209' 'SRR5862210' 'SRR5862211' 'SRR5862212' 'SRR5862213'
 'SRR5862214' 'SRR5862215' 'SRR5862216' 'SRR5862217' 'SRR5862218'
 'SRR5862219' 'SRR5862220' 'SRR5862221' 'SRR5862222' 'SRR5862223'
 'SRR5862224' 'SRR5862225' 'SRR5862226' 'SRR5862227' 'SRR5862228'
 'SRR5862229' 'SRR5862230' 'SRR5862231' 'SRR5862232' 'SRR5862233'
 'SRR5862234' 'SRR5862235' 'SRR5862236' 'SRR5862237' 'SRR5862238'
 'SRR5862239' 'SRR5862240' 'SRR5862241' 'SRR5862242' 'SRR5862243'
 'SRR5862244' 'SRR5862245' 'SRR5862246' 'SRR5862247' 'SRR5862248'
 'SRR5862249' 'SRR5862250' 'SRR5862251' 'SRR5862252' 'SRR5862253'
 'SRR5862254' 'SRR5862255' 'SRR5862256' 'SRR5862257' 'SRR5862258'
 'SRR5862259' 'SRR5862260' 'SRR5862261' 'SRR5862262' 'SRR5862263'
 'SRR5862264' 'SRR5862265' 'SRR5862266' 'SRR5862267' 'SRR5862268'
 'SRR5862269' 'SRR5862270' 'SRR5862271' 'SRR5862272' 'SRR5862273'
 'SRR5862274' 'SRR5862275' 'SRR5862276' 'SRR5862277']

=== Sample Characteristic[age at diagnosis] ===
['6.6 year' '6.8 year' '7.3 year' '7.8 year' '8 year' '8.5 year'
 '8.8 year' '9.2 year' '9.5 year' '9.6 year' '9.8 year' '10.4 year'
 '10.5 year' '10.6 year' '10.7 year' '10.8 year' '11 year' '11.1 year'
 '11.4 year' '11.8 year' '11.9 year' '12.3 year' '12.6 year' '12.7 year'
 '12.8 year' '13.3 year' '13.6 year' '13.8 year' '13.9 year' '14.1 year'
 '14.2 year' '14.3 year' '14.8 year' '15.1 year' '15.2 year' '15.3 year'
 '15.4 year' '15.8 year' '15.9 year' '16.3 year' '16.6 year' '16.8 year'
 '16.9 year' '6.2 year' '6.3 year' '6.5 year' '6.9 year' '7.2 year'
 '7.6 year' '7.7 year' '7.9 year' '8.2 year' '8.4 year' '8.6 year'
 '8.7 year' '8.9 year' '9 year' '9.3 year' '9.4 year' '10 year'
 '10.1 year' '10.2 year' '10.3 year' '11.2 year' '11.3 year' '11.5 year'
 '11.6 year' '12 year' '12.1 year' '12.2 year' '12.4 year' '12.5 year'
 '13 year' '13.1 year' '13.2 year' '13.4 year' '13.5 year' '13.7 year'
 '14.4 year' '14.6 year' '14.9 year' '15 year' '15.5 year' '15.6 year'
 '15.7 year' '16.1 year' '16.2 year' '16.4 year' '16.5 year' '16.7 year'
 '9.7 year' '9.9 year' '12.9 year' '14.5 year']

=== Sample Characteristic Ontology Term[age at diagnosis] ===
[nan]

=== Sample Characteristic[clinical information] ===
['A1a Paris classification' 'A1b Paris classification']

=== Sample Characteristic Ontology Term[clinical information] ===
[nan]

=== Sample Characteristic[disease] ===
["Crohn's disease" 'non inflammatory bowel disease control']

=== Sample Characteristic Ontology Term[disease] ===
['http://www.ebi.ac.uk/efo/EFO_0000384' nan]

=== Sample Characteristic[organism] ===
['Homo sapiens']

=== Sample Characteristic Ontology Term[organism] ===
['http://purl.obolibrary.org/obo/NCBITaxon_9606']

=== Sample Characteristic[organism part] ===
['ileum']

=== Sample Characteristic Ontology Term[organism part] ===
['http://purl.obolibrary.org/obo/UBERON_0002116']

=== Sample Characteristic[sex] ===
['male' 'female']

=== Sample Characteristic Ontology Term[sex] ===
['http://purl.obolibrary.org/obo/PATO_0000384'
 'http://purl.obolibrary.org/obo/PATO_0000383']

=== Factor Value[clinical information] ===
['A1a Paris classification' 'A1b Paris classification']

=== Factor Value Ontology Term[clinical information] ===
[nan]

=== Factor Value[disease] ===
["Crohn's disease" 'non inflammatory bowel disease control']

=== Factor Value Ontology Term[disease] ===
['http://www.ebi.ac.uk/efo/EFO_0000384' nan]

=== Analysed ===
['Yes']

In [3]:
df2

,Gene ID,Gene Name,SRR5861974,SRR5861975,SRR5861976,SRR5861977,SRR5861978,SRR5861979,SRR5861980,SRR5861981,...,SRR5862268,SRR5862269,SRR5862270,SRR5862271,SRR5862272,SRR5862273,SRR5862274,SRR5862275,SRR5862276,SRR5862277
0,ENSG00000000003,TSPAN6,385,809,251,873,644,460,498,308,...,405,355,265,309,526,296,550,457,185,499
1,ENSG00000000005,TNMD,0,2,4,0,1,5,3,1,...,3,1,2,1,2,0,3,2,1,3
2,ENSG00000000419,DPM1,292,300,182,482,289,227,369,229,...,283,337,301,273,257,302,378,325,127,318
3,ENSG00000000457,SCYL3,122,146,64,329,242,150,315,136,...,225,278,244,203,195,188,258,175,51,166
4,ENSG00000000460,C1orf112,12,37,27,111,28,42,99,48,...,75,70,80,58,51,85,52,52,16,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65212,ENSG00000281918,NaN,4,0,22,0,0,0,0,1,...,2,1,1,0,2,0,2,3,0,5
65213,ENSG00000281919,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65214,ENSG00000281920,NaN,1,0,0,0,1,0,2,1,...,0,0,1,0,0,0,1,0,0,0
65215,ENSG00000281921,NaN,0,1,0,0,2,0,3,0,...,3,4,1,1,1,2,0,1,0,0
65216,ENSG00000281922,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0